@import "tailwindcss";
*{
      font-family: Roboto, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
@theme{
      --color-black-fig: #000000;
      --color-white-fig: #FFFFFF;
      --color-green-fig: #52B788;
      --color-green-mid-light: #74C69D;
      --color-blue-fig:#00B4D8;
      --color-blue-mid-light-fig: #48CAE4;
      --color-red-fig:#DA344D;
      --color-gray-fig: #D9D9D9;
}