@import "tailwindcss";
* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
@theme {
  --color-black-fig: #000000;
  --color-white-fig: #ffffff;
  --color-green-fig: #52b788;
  --color-green-mid-light: #74c69d;
  --color-blue-fig: #00b4d8;
  --color-blue-mid-light-fig: #48cae4;
  --color-red-fig: #da344d;
  --color-gray-fig: #d9d9d9;
}
